*{
    font-family: "Montserrat", serif;
    margin: 0;
    padding: 0;
}

header {
    margin: 44px 0 144px 76px;
}

.link-header {
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color: #989D9C;
    cursor: pointer; /* Deixa a mãozinha quando coloca o mouse em cima */
    margin-right: 23px;
    text-align: left;

}

.button-header {
    background: #665AE1;
    border-radius: 20.5px;  /* Deixa a borda do botão arredondada */
    width: 130px;
    height: 41px;
    border: none;  /* Deixa sem borda no botão */
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    cursor: pointer;
    color: #FFFFFF;
}

.logo-img {
    width: 568;
    height: 500;
    margin-left: 25px;
    display: inline-block;
}

section {
    display: inline-block;
    margin-left: 86px;
}

h1 {
    font-weight: 900;
    font-size: 100px;
    line-height: 122px;

    color: #515151;
}

h2 {
    font-weight: 500;
    font-size: 58px;
    line-height: 71px;

    color: #515151;
}

p {
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: #848484;
    margin-top: 32px;
    margin-bottom: 65px;
    width: 515px;  /* Determinando a largura, caso o texto seja muito grande ele cria uma quebra de linha automática */
}

.button-main {
    background: #ADFF00;
    border-radius: 30px;  /* Deixa a borda do botão arredondada */
    width: 239px;
    height: 64px;
    font-size: 24px;
    border: none;
    cursor: pointer;
    filter: drop-shadow(0 4px 4px rgba(0, .0, .0, 0.25)); /* Cria uma borda fina em volta o botão */
    font-weight: 700;
    font-size: 28px;
    line-height: 34px;
    color: #000000;
}


@media screen and (max-width: 600px) {

header {
    visibility: hidden;
}       

.logo-img {
    /* max-width: 90%; */
    margin-top: -50px;
}

section {
    display: block;
    margin-left: 86px;
    margin-top: 80px;
}
h1 {
    
    font-size: 70px;
    line-height: 60.95px;
    text-align: center;
}

h2 {
   
    font-size: 40px;
    line-height: 36.57px;
    text-align: center;

}

p {
    visibility: hidden;
}

.button-main {
    display: block;
    margin-top: -150px;
    margin-left: 40px;
}

}